
.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .profilePicture {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profileImg {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .profileButtons button {
    margin-right: 5px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form label {
    margin-top: 10px;
  }
  
  .form input[type="text"],
  .form input[type="password"],
  .form input[type="email"],
  .form input[type="tel"],
  .form input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .form input[type="radio"] {
    margin-right: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-attachment : blue;
  }
  
  .buttons button {
    padding: 10px 20px;
  }
  