.qna input {
  display: none;
}

.qna label { /* 제목 - 클릭 영역 */
  font-weight: bold;
  color: #000;
  margin: 20px 0 0;
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 1.5rem; /* 화살표 공간 확보 */
}

.qna label::before { /* 제목 앞 화살표 */
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #4fd1c5;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.qna input:checked + label::before { /* 내용 펼침 상태 제목 앞 화살표 */
  border: 8px solid transparent;
  border-top: 8px solid #4fd1c5;
  border-bottom: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.qna div { /* 내용 영역 - 기본 감춤 상태 */
  display: none;
  color: #666;
  font-size: 0.9375em;
  overflow: hidden;
  padding: 10px 0 10px 30px;
  box-sizing: border-box;
  transition: max-height 0.4s;
}

.qna input:checked + label + div { /* 내용 영역 펼침 */
  display: block;
}
